<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="{{#if language}}{{language}}{{else}}zh-tw{{/if}}" />
<META NAME="AUTHOR" CONTENT="{{author}}" />
<title>{{title}}</title>
<meta name="keywords" content="{{keyword}}" />
<meta name="description" content="{{description}}" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="private" />
